:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: grey;
  color: white;
  padding: 0 10%;
  &>div {
    display: flex;
  }

  a {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    &.active {
      color: aqua;
    }
    &:hover {
      background-color: #333;
    }
  }
}

.linksWrapper {
  margin-left: 3rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
  height: 100%;
  display: flex;

}