<div *ngIf="!recipe" class="error">Not valid id</div>

<div *ngIf="recipe" class="formContainer">
  <h1 class="title">{{isEdited ? 'Edit' : 'New'}} recipe</h1>
  <form [formGroup]="recipeForm" (submit)="onSubmit()">
    <div formGroupName="recipeGroup">
      <div class=" inputContainer">
        <label for="dishName">Dish Name</label>
        <input placeholder="Eneter Name" required formControlName="name" #input id="dishName">
      </div>
      <div class="inputContainer">
        <label for="dishDesc">Description</label>
        <textarea formControlName="description" type="textarea" placeholder="Eneter Description"
          id="dishDesc"></textarea>
      </div>
      <div class="inputContainer">
        <label for="dishImage">Image</label>
        <input formControlName="image" placeholder="Eneter Image Url" id="dishImage" #img>
      </div>
      <img [src]="img.value">
      <!-- <p *ngIf="recipeForm.get('recipeGroup.description')?.touched && recipeForm.get('recipeGroup')?.invalid"> My msg </p> -->
    </div>
    <hr />
    <h3 *ngIf="formArray.length">Ingredients:</h3>
    <h4 *ngIf="!formArray.length"><i>No ingredients</i></h4>
    <div *ngFor="let controlGroup of formArray.controls; let i = index" formArrayName="ingArray" class="inputGroup"
      [ngClass]="{select: i === selectedIngGroupIdx}">
      <div [formGroupName]="i" class="ingredientContainer">
        <div class="inputContainer">
          <label for="ingName">Name<span class="spanLabelAmount">/Amount</span></label>
          <input placeholder="Eneter name" formControlName="name" #input (click)="onSelectGroup(i)" id="ingName"
            class="ingName">
        </div>
        <div class="inputContainer">
          <label for="ingAmount">Amount</label>
          <input placeholder="Eneter amount" formControlName="amount" #input (click)="onSelectGroup(i)" id="ingAmount"
            class="ingAmount">
        </div>
      </div>
      <hr />
    </div>
    <div class="btns-container">
      <button type="submit">Save</button>
      <button type="button" (click)="onAddIngredient()">Add ingredient</button>
      <button type="button" (click)="onDeleteIngredient()" *ngIf="selectedIngGroupIdx >= 0">Delete
        ingredient</button>
    </div>
  </form>
  <!-- <p *ngIf="f.submitted && f.invalid" class="errorMsg">Form is invalid</p> -->
</div>