$height: 6rem;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: grey;
  color: white;
  padding: 0 10%;
  font-size: 1.66rem;
  position: relative;
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 2px 0px 2px white, 2px 2px 1px 4px black;
  height: $height;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background: rgb(221, 221, 221);
    background: linear-gradient(120deg, rgb(231, 231, 231), rgb(207, 206, 206), rgb(231, 231, 231));
  }
  h1 {
    display: flex;
    align-items: center;
  }
  &>div {
    display: flex;
  }
  a {
    height: $height;
    padding: 1rem 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;

    &.active {
      color: aqua;
    }
    &:hover {
      background-color: #333;
    }
  }

  .linksWrapper {
    margin-left: 3rem;
    border-left: 2px solid white;
    border-right: 2px solid white;
    height: 100%;
    display: flex;

  }

  .rightLinksContainer {
    a {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 12rem;
    }
  }

}

@media screen and (max-width: 970px) {
  :host {
    flex-direction: column;
    min-width: 310px;
    height: auto;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
    }
    .rightLinksContainer {
      a {
        width: auto;
        text-align: auto;
      }
    }
  }
}