.formContainer {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  font-size: 1.8rem;

  .bg {
    background: linear-gradient(-45deg, rgb(155, 154, 154) 18%, rgb(237, 237, 255) 18%, rgb(243, 247, 255) 82%, rgb(154, 154, 154) 82%);
  }

  .empty-space {
    background-color: lavender;
    box-shadow: inset 0 1px 3px black;
    height: 0;
    animation: startAuth .55s forwards cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  h1 {
    text-align: center;
    padding: 0.4rem 0;
    border: 1px solid black;
    box-shadow: 1px 1px 3px black;
    font-weight: 600;
  }

  form {
    border: 1px solid black;
    padding: 3rem 6rem;
    box-shadow: 1px 1px 3px black;
    border-radius: 6px 6px;

    label {
      display: inline-block;
      min-width: 95px;
      font-weight: 600;
    }

    input {
      padding: 0.6rem 1.5rem;
      background-color: rgb(136, 136, 136);
      color: white;
      box-shadow: inset 1px 1px 2px black, 0 0 0 2px rgb(84, 84, 84);
      border: 1px solid white;
      border-radius: 6px;
      margin: 1.1rem 0;
      &::placeholder {
        color: white;
        transition: 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);
      }
      &:focus::placeholder {
        transform: translate(100px);
      }
    }

    .errorsPlaceholder {
      min-height: 7rem;
      padding-top: 1rem;
      font-style: italic;
      font-weight: 100;
      color: rgb(255, 43, 153);
      text-shadow: 0 0 1px rgb(156, 0, 83);
    }

    .btns {
      button {
        padding: 0.5rem 1rem;
        min-width: 9rem;
        box-shadow: inset 0px 0px 2px black, 0 0 0 2px rgb(84, 84, 84);
        border: 1px solid white;
        border-radius: 6px;
        cursor: auto;
        &:hover:enabled {
          background: white;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes startAuth {
  to {
    height: 5rem;
  }
}