<div class="formContainer">
  <div class="bg">
    <h1>{{isLogin ? 'Login' : 'Register'}}</h1>

    <div class="empty-space">
      <app-loader *ngIf="isLoading"></app-loader>
    </div>

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div>
        <label for="email">E-Mail</label>
        <input type="email" id="email" ngModel name="email" required email placeholder="Enter mail" #email="ngModel" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" ngModel name="password" required minlength="3" placeholder="Enter password"
          #password="ngModel" />
      </div>

      <div class="errorsPlaceholder">
        <div *ngIf="(!error && authForm.valid) else errors"></div>
      </div>

      <div class="btns">
        <button type="submit" [disabled]="!authForm.valid" [title]="!authForm.valid && 'Form is not valid.'">
          {{ isLogin ? 'Login' : 'Sign Up' }}
        </button> |
        <button type="button" (click)="onSwitchMode()">
          Switch to {{ isLogin ? 'Sign Up' : 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>


<!-- Handle errors -->
<ng-template #errors>
  <p *ngIf="error">{{error}}</p>
  <ng-container *ngIf="email.touched">
    <p *ngIf="email.hasError('required')">Email is required</p>
    <p *ngIf="email.hasError('email')">Please enter valid email</p>
  </ng-container>
  <ng-container *ngIf="password.touched">
    <p *ngIf="password.hasError('required')">Password is required</p>
    <p *ngIf="password.hasError('minlength')">{{errorMinLength(password)}}</p>
  </ng-container>
</ng-template>