:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 90%;
  max-width: 1500px;
  margin: 3rem auto;
}

hr {
  margin-top: 2.5rem;
  height: 2px;
  border: 0;
  border-bottom: 1px solid white;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, .2));
}


@media screen and (max-width: 1100px) {
  main {
    width: 100%;
  }
}