:host {
  font-size: 1.81rem;
  .ingredientsContainer {
    margin: 3.5rem auto;
    max-width: 29rem;
  }
  .ingredient {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 2rem;
    margin: 0.5rem;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px black, inset 0 0 2px white;
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 72%, white 72%);
    &.selected {
      border: 1px solid white;
      box-shadow: 1px 1px 2px black, inset 0 0 0 2px white, inset 1px 1px 3px 1px black;
      background-image: linear-gradient(45deg, white 68%, transparent 68%);
      background-size: 150%;
      background-position: -100px;
      transition: 0.15s;
    }
  }
}